  <div class="row">
        <div class="row">
          <div class="col s12 m4 l4">
            <span class="hide-on-small-only"><br /><br /></span>
            <span class="ward-radio" ng-repeat="w in wards">
              <input name="w" type="radio" id="{{ w._id }}" ng-model="$parent.ward"  ng-value="w" ng-click="findReps(w._id)" />
              <label for="{{ w._id }}">{{ w.name }}</label>
            </span>
          </div>
          <div class="col s12 m8 l8">
            <img class="wardImg"ng-src="{{ ward.img || '/img/wards-blank.png' }}" alt="{{ ward.name }}">
          </div>
        </div>
  </div>

