      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="grey-text text-darken-4">About Us</h5>
            <p class="grey-text text-darken-4">One Brampton is a citizens' advocacy group run by Brampton residents that advocates and speaks on issues affecting the city and its residents.</p>
            <img src="/img/ob-logo-black.png" alt="One Brampton" />
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="grey-text text-darken-4">Social</h5>
            <ul>
              <li><a class="grey-text text-darken-4" href="https://www.facebook.com/onebrampton">Facebook</a></li>
              <li><a class="grey-text text-darken-4" href="https://www.twitter.com/onebrampton">Twitter</a></li>
              <li><a class="grey-text text-darken-4" href="https://www.youtube.com/channel/UCc8vCHKM1JFUBa__8LIqq1w">Youtube</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container grey-text text-darken-4">
        © 2015 Herlander Pinto, Under Licence to One Brampton
        <a class="grey-text text-darken-4 right privacy-trigger" href="#privacy">Privacy Policy</a>
        </div>
      </div>

      <div class="black-text">
        <div id="privacy" class="modal modal-fixed-footer ">
          <div class="modal-content ">
            <h4>Privacy Policy</h4>
            <h5>Privacy Statement</h5><br />
              <p>
                We collect personal information from our users in our letters.js application for the purpose of conducting advocacy. This modal answers some of your most frequently asked questions, and lets you know exactly how we're protecting the information you entrust to us.
                <strong>What personal information do you collect about me?</strong><br />
                In our application we collect the following information about you:<br /><br />

                - Name<br />
                - Email Address<br /><br />

                <strong>When you visit our web site, we also collect the following pieces of metadata:</strong><br />
                - Your IP address<br />
                - The type of operating system and browser you use<br />
                - What pages you visit on our site<br />
                - What links you click on<br /><br />

                <strong>How do you use this information?</strong><br />
                We use your first name, last name, and email address for the purpose of:<br />
                - Sending an email to your councillors on your behalf<br /><br />

                <strong>We use your metadata for:</strong><br />
                - Improvements to your mobile and desktop experiences<br />
                - Improvements to our website’s user interface<br /><br />

                <strong>Sharing of Personal Information with Third Parties</strong><br />
                We do not share your personal information with any third parties.<br />
              </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">I Understand</a>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $( document ).ready(function(){
          $('.privacy-trigger').leanModal();
        })
      </script>
