<article>
  <div id="letter-body">
    <h3>Dear,</h3><h4><span ng-repeat="rep in selectedReps">{{ rep.firstName }} {{ rep.lastName }}{{ $last ? '' : ($index==selectedReps.length-2) ? ' and ' : ', '}}</span></h4>  
    <div>
      <span class="justify preformatted" ng-bind-html="templates[0].text | newlines"></span>
    </div>
    <div>
      <h4>Sincerely,</h4>
      <h5>{{ user.firstName || "Janice" }} {{ user.lastName || "Singh" }}</h5>
      <span>{{ user.email || "janice.singh@example.com" }}</span><br /><br />
    </div>
  </div>
  <br />
    <button class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 waves-effect waves-light btn" ng-click="postData()"><i class="material-icons left">send</i>Send Message</button>
</article>
