<article>
  
  
  
  <div class="container">
    <h3>Dear <span ng-repeat="rep in selectedReps">{{ rep.firstName }} {{ rep.lastName }}{{ $last ? '' : ($index==selectedReps.length-2) ? ' and ' : ', '}}</span></h3>  
    <div>
      <p>{{ templates[0].body }}</p>
    </div>
    <div>
      <h3>Sincerely,</h3>
      <h4>{{ user.firstName || "Janice" }} {{ user.lastName || "Singh" }}</h4>
      <p>{{ user.email || "janice.singh@example.com" }}</p>
    </div>
    
    
    <button class="waves-effect waves-light btn" ng-click="postData()">Send Message</button>
  </div>
</article>
