<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">One Brampton</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li ng-class="{ active: isActive('') }" ><a href="/">Home</a></li>
            <li ng-class="{ active: isActive('contact') }" ><a href="/contact">Contact your Councillor</a></li>
            <li ng-class="{ active: isActive('video') }" ><a href="/video">Video Contest</a></li>
            <!--<li ng-class="{ active: isActive('/social') }" ><a href="/social/">How to Help</a></li>-->
        </ul>
    </div>
</nav>